@import "tailwindcss";

:root {
  --background: #a7c5d6;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--foreground);
  font-family: 'Segoe UI', Roboto, system-ui, sans-serif;
  background-color: transparent;
  text-shadow: var(--text-shadow, none);
}

html {
  background-color: transparent;
}